
.fondo{
	
	background: url(../img/fondo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body h1{
    text-align: center;
    padding-top: 100px;
	color: white;
    font-size: 90px;
}
.botones button{
	padding: 15px 25px;
	border: 1px solid white;
	border-radius: 7px;
	color: white;
	font-size: 20px;
	margin-bottom: 10%;
    background: transparent;
}

.botones{
	bottom: 0px;
	position: absolute;
	bottom: 0 !important;
	bottom: -1px;
	width: 100%;
	text-align: center;
}
/*Sing UP------*/
.tituloSing
{
    color:black;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    padding: 10px;
    
}
p{
    text-align: center;
    
}
.alinear
{
 
    width: 90%;
    
}
section .albutton
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin:0 auto;
    
}
.btn
{
    color: #fff;
    background-color:#ff00bf; 
}
.retornar a
{
   margin-top: 20px;
    font-size: 40px;

}




